html {
  box-sizing: border-box;
  font-family: 'Spectral', serif;
}
h1 {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  max-width: 800px;
  margin: 0 auto;
}
h3 {
  margin: 0;
}
input {
  display: inline;
}
.new-item-input {
  width: 100%;
}
.bookmark-element {
  margin-top: 40px;
  border: solid 1px black;
  border-radius: 5px;
}
.star-ratings {
  display: inline;
}
.star-rating {
  cursor: pointer;
}
.delete-bookmark {
  float: right;
}
.btn {
  display: inline-block;
  color: inherit;
  background-color: lightgray;
  border: solid 1px darkgray;
  padding: 2px 5px;
  text-decoration: none;
}
.btn-delete {
  height: 30px;
  width: 30px;
  border-radius: 10%;
  float: right;
}
button:hover, input[type=radio]:hover {
  cursor: pointer;
}
.bookmark-title {
  background-color: lightgray;
  padding: 5px 20px;
}
.bookmark-title-clickable {
  text-decoration: none;
  color: inherit;
}
.bookmark-props {
  background-color: lavender;
  padding: 5px;
}
.bookmark-details {
  background-color: lightcyan;
  padding: 20px;
}
.hidden {
  display: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  font-size: 0;
}
.new-bookmark {
  border: solid 1px black;
  border-radius: 5px;
  padding: 20px;
}
.create-bookmark, .filter-bookmarks {
  padding: 5px;
  margin: 20px;
}
.new-description {
  height: 100px;
}
.error-message {
  background-color: lightpink;
  display: block;
  padding: 20px 20px;
  position: relative;
}
#cancel-error {
  border: solid 1px red;
  position: relative;
  top: -15px;
  left: -15px;
}
.btn-label-delete {
  font-size: 0;
}
.rating-display {
  margin: 0;
  padding: 5px;
}
input, textarea {
  padding: 15px;
  margin: 5px 0 20px 0;
}
input[type="radio"] {
  margin: 5px 5px 20px 20px;
}
form#new-bookmark button {
  padding: 10px;
}